@font-face {
    font-family: 'Minecraft Regular';
    src: url('/styles/MinecraftRegular-Bmg3.otf');
}


/* elements that appear often */

#profile_icon {
    font-size: 60px;
    margin-top: 10%;
    right: 5%;
    color: black;
    text-decoration: none;
}

body {
    margin-bottom: 10%;
}

.text-center {
    margin-top: 10vh;
}

.heading {
    padding-top: 10vh;
    font-family: 'Minecraft Regular';
}

.btn-primary {
    border-radius: .5rem;
    color: #fff;
    background-color: #157145;
    border-color: #157145;
}

.btn-primary:hover {
    color: #000;
    background-color: #57A773;
    border-color: #57A773;
}

.btn-secondary {
    border-radius: .5rem;
    color: #fff;
    background-color: #6A8EAE;
    border-color: #6A8EAE;
}

.btn-secondary:hover {
    color: #000;
    background-color: #9BD1E5;
    border-color: #9BD1E5;
}

.fw-bold {
    display: flex;
    align-items: center;
}

img[alt~="eicon"] {
    width: 50px;
    height: 50px;
}

.card-time {
    font-size: 50%;
}


/* sign-in */

#signin-container {
    background-image: linear-gradient(170deg, #D1FAFF, #9BD1E5, #6A8EAE);
    background-size: cover;
    height: 100vh;
    text-align: center;
}

#loader {
    text-align: center;
}

.fw-bold {
    display: flex;
    align-items: center;
}

label {
    font-weight: bold;
}


/* landing */

#movetomain {
    float: right;
    margin-right: 10%
}

#text-left {
    text-align: left;
}


/* main page */

#introduce-name {
    font-weight: bold;
    font-size: 30pt;
}

#quote-section {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

#main-quote {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
}

#quote-title {
    font-size: 20pt;
    font-weight: 500;
}

.blockquote-footer {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 0.875em;
    color: #D1FAFF;
}

#what-u-do {
    padding-top: 5px;
    font-size: 20pt;
}

#add-entry {
    font-size: 14pt;
}

#entry-prompt {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

#card-intro {
    display: block;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
}

#suggestions {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

#suggestions-text {
    font-size: 20pt;
    padding-left: 15px;
    padding-bottom: 15px;
}

#card-main {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
}


/* profile */

p {
    text-align: center;
    justify-items: center;
}

img[alt~="profile_icon"] {
    max-width: 125px;
    max-height: 125px;
    margin-top: 7.5vh;
    margin-bottom: 20px;
}

.trophyicon {
    position: relative;
    top: 4px;
}

.text-center {
    margin-top: auto;
    margin-bottom: auto;
}

.card-alt-profile {
    background-color: rgb(243, 243, 243);
    border-radius: .5rem;
}

#about-text {
    padding: 5px;
    border-radius: 0.5rem;
}

#card-profile {
    margin: 15px;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
    color: white;
}

#profile-trophy {
    border: none;
    width: 90vw;
}

#trophy-image {
    color: white;
}

#notrophy {
    font-size: 14pt;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    padding: 15px;
}


/* exercise history */

#entry-button {
    display: grid;
    width: 180px;
    grid-template-columns: 20px 150px;
}

#entry-button>span {
    grid-column: 1;
}

#add-entry {
    grid-column: 2;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

#card-exlog {
    margin: 15px;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
}

.card-image {
    filter: invert(100);
}

#card-border {
    color: white;
}

.card-text {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14pt;
}

.card-time {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 8pt;
}

#history-list {
    border: none;
}


/* add entry */

.form-group {
    font-size: 20pt;
}

.form-control {
    background: rgb(243, 243, 243);
}

.card-entry {
    background-image: linear-gradient(170deg, #57A773, #157145);
    margin-top: 20px;
    color: white;
    border-radius: .5rem;
}

#entry-motivation {
    font-size: 24pt;
}


/* my friends, friend requests */

#friends {
    display: grid;
    margin-top: 10%;
    margin-bottom: 10%;
}

.friends {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 30% 70%;
    cursor: pointer;
    align-items: center;
}

.friend_request {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.outgoing_request {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    cursor: pointer;
}

#invite {
    display: grid;
    margin-bottom: 10%;
}

.request {
    display: grid;
    grid-template-columns: 20% 80%;
}

#friend-button {
    background: #157145;
    text-decoration: none;
    place-content: center;
    margin: auto;
    width: 80px;
}

#acceptance {
    background: #157145;
    width: 50px;
    border-radius: .5rem;
    text-align: center;
    color: white;
}

.acceptance {
    background: #157145;
    width: 50px;
    border-radius: .5rem;
    text-align: center;
    color: white;
    grid-column: 3;
}

.friendname {
    grid-column: 2;
    grid-row: 1;
}

#rejection {
    background: red;
    width: 50px;
    border-radius: .5rem;
    text-align: center;
    color: white;
}

.req-head {
    margin-top: 10%;
    margin-left: 5%;
}


/* leaderboard */

.leaderboard-row {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 15px;
    padding: 15px;
}

.username {
    grid-column: 2;
}

.points {
    grid-column: 3;
}

.friend {
    border-radius: .5rem;
    margin: 15px;
    padding: 15px;
}

.friend:nth-child(1) {
    background: gold;
}

.friend:nth-child(2) {
    background: silver;
}

.friend:nth-child(3) {
    background: rgb(129, 44, 38);
    color: white;
}


/* trophies */

.trophy {
    margin: 15px;
    background-image: linear-gradient(170deg, #57A773, #157145);
    border-radius: .5rem;
    color: white;
    text-align: center;
}

.trophy>span {
    padding: 10px;
}