body {
    background-image: url("images/pexels-jimmy-chan-2310482.jpg");
}

@font-face {
    font-family: 'Minecraft Regular';
    src: url('/styles/MinecraftRegular-Bmg3.otf');
}

.navbar-brand {
    font-family: 'Minecraft Regular';
    font-size: 24pt;
}

.bg-dark {
    background-color: #157145 !important;
}

.btn-primary {
    background-color: #6A8EAE;
    border-color: #6A8EAE;
}

.btn-primary:hover {
    color: black;
    background-color: #9BD1E5;
    border-color: #9BD1E5;
}

h1 {
    color: white;
}

p {
    color: white;
}